:root {
  --light-bg-color: #fff;
  --light-bg-element-color: #c7c7c7;
  --light-font-color: #000;
  --dark-bg-color: #010409;
  --dark-bg-element-color: #161b22;
  --dark-font-color: #fff;
}

* {
  margin: 0;
  padding: 0;
}

#body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  background-color: var(--light-bg-color);
  color: var(--light-font-color);
  user-select: none;
  padding: 20px;
}

.container-info {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.targetNb,
.time,
.info {
  background: var(--light-bg-element-color);
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
  margin-right: 5px;
  height: 30px;
}

.main-container {
  background: var(--light-bg-element-color);
  color: var(--light-font-color);
  font-size: 40px;
  margin-top: 10px;
  height: 70vh;
  width: 100%;
  border: 0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.restartBtn {
  border: 0;
  border-radius: 5px;
  margin-top: 10px;
  height: 60px;
  width: 100%;
  font-size: 40px;
  background: var(--light-bg-element-color);
  color: var(--light-font-color);
}

.container-underpages {
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.theme {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  height: 40px;
  width: 40px;
  border: 0;
  border-radius: 10px;
}

.moon {
  position: relative;
  top: 0;
  left: 3px;
  height: 30px;
  width: 30px;
  background-color: var(--light-font-color);
  border-radius: 50%;
}

.moon2 {
  position: absolute;
  top: 0px;
  left: 10px;
  height: 27px;
  width: 27px;
  background-color: var(--dark-font-color);
  border-radius: 50%;
}

.underpages {
  height: 140px;
  width: 300px;
  margin-top: 25px;
  font-size: 30px;
  background: var(--light-bg-element-color);
  color: var(--light-font-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.underpages-title,
.underpages-content {
  transition: transform 100ms;
}
.underpages:hover .underpages-title {
  text-decoration: underline;
  transform: translateY(-10%);
}

.underpages-content {
  z-index: -1;
}

.underpages:hover .underpages-content {
  z-index: 1;
  transform: translateY(-10%);
}

.underpages img {
  height: 30px;
  padding-left: 10px;
}

@media (hover: none) {
  .underpages:hover .underpages-title,
  .underpages-title,
  .underpages-content {
    transition: all 0ms;
    text-decoration: none;
    transform: none;
  }

  .underpages-content {
    z-index: -1;
  }
}
