* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  background-color: #010409;
  color: #fff;
  user-select: none;
  padding: 20px;
}

.container-info {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.targetNb,
.time,
.info {
  background: #161b22;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
}

.main-container {
  background: #161b22;
  color: #fff;
  font-size: 40px;
  margin-top: 10px;
  height: 70vh;
  width: 100%;
  border: 0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.restartBtn {
  border: 0;
  border-radius: 5px;
  margin-top: 10px;
  height: 10vh;
  width: 100%;
  font-size: 40px;
  background: #161b22;
  color: #fff;
}

#body {
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.underpages {
  height: 20vh;
  width: 40vw;
  margin-top: 25px;
  font-size: 30px;
  background: #161b22;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.underpages-title,
.underpages-content {
  transition: transform 100ms;
}
.underpages:hover .underpages-title {
  text-decoration: underline;
  transform: translateY(-10%);
}

.underpages-content {
  z-index: -1;
}

.underpages:hover .underpages-content {
  z-index: 1;
  transform: translateY(-10%);
}

.underpages img {
  height: 30px;
  padding-left: 10px;
}

@media (orientation: portrait) {
  .underpages {
    height: 20vh;
    width: 60vw;
  }

  .underpages-title,
  .underpages-content {
    transition: all 0ms;
    text-decoration: underline;
  }

  .underpages-content {
    z-index: -1;
  }

  .underpages:hover .underpages-title,
  .underpages-content {
    transform: none;
  }
}
