* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  background-color: #010409;
  color: #fff;
  user-select: none;
  padding: 20px;
}

#body {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.underpages {
  height: 30vh;
  width: 40vw;
  background: #161b22;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.underpages-title,
.underpages-content {
  transition: transform 100ms;
}
.underpages:hover .underpages-title {
  text-decoration: underline;
  transform: translateY(-50%);
}

.underpages-content {
  z-index: -1;
}
.underpages:hover .underpages-content {
  z-index: 1;
  transform: translateY(-50%);
}

.underpages img {
  height: 30px;
  padding-left: 10px;
}
