.result {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 40px;
}

.target {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 50%;
  background: transparent;
}

.target img {
  height: 50px;
}

@media (pointer: coarse) {
  .result {
    font-size: 25px;
  }
}
